main/src/main/xsd/foaf-fake.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.com/foaf/0.1/"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="phone" type="xs:string"/>
                <xs:element name="mbox" type="xs:string"/>
                <xs:element name="gender" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
